<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/1181298/pexels-photo-1181298.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="laptop images">
    <mat-card-content>
      <p>
        laptop price is: 90,000.00/-
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-divider></mat-divider>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://images.pexels.com/photos/4276393/pexels-photo-4276393.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="laptop image">
    <mat-card-content>
      <p>
       1. The IdeaPad 3i Gen 6 (15, Intel) makes staying indoors and working or learning from home even more enjoyable.
          <br><br>
       2. It boasts the performance of 11th Gen Intel® Core™ processors, along with smart features that address eye strain and at-home distractions.
          And the 38.1cms (15) FHD display with ultra-thin bezels on all four sides provides pleasing visuals for work or entertainment.
          <br><br>
          3. Lenovo Aware hosts an ecosystem of well-being features that are designed to stay healthy with thoughtful features such as break reminder, distance reminder, posture reminder.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  