<div class="t1">
  <div class="t2">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <h1> Employee Details</h1>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName"><br><br>
    
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName">
    
      <!-- <button id="bt">Click me</button> -->
   
    
    <div formGroupName ="address" >
      <h2>Address</h2>
      <label for="Country">Country: </label>
      <input id="Country" type="text" formControlName="Country"><br><br>
    
      <label for="city" id="l">City:</label>
      <input id="city" type="text" formControlName="city"><br><br>
    
      <label for="state" id="l2">State: </label>
      <input id="state" type="text" formControlName="state"><br><br>
    
      <label for="zip" id="l3">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip"><br><br><br><br>

      <button id="bt">Click me</button>
    </div>
  </form>
    
    <!-- <button type="submit" id="b" (ngSubmit)="onSubmit() >Submit</button> -->
    <!-- <form [formGroup]="butt" (ngSubmit)="onSubmit()">submit</form> -->
    <!-- <button onclick="onSubmit()">Submit</button> -->
    <!-- <button onclick="onSubmit()">Click me</button> -->
  </div>
</div>
